Diagnostics:
  ClangTidy:
    Remove: [bugprone-sizeof-expression]

CompileFlags:
  Add: [
    "-nostdinc",
    "-I/home/xslaby/linux/arch/x86/include",
    "-I/home/xslaby/linux/arch/x86/include/uapi",
    "-I/home/xslaby/linux/include",
    "-I/home/xslaby/linux/include/uapi",
    "-I/home/xslaby/build/bu_clang/arch/x86/include",
    "-I/home/xslaby/build/bu_clang/arch/x86/include/generated",
    "-I/home/xslaby/build/bu_clang/arch/x86/include/generated/uapi",
    "-I/home/xslaby/build/bu_clang/include",
    "-I/home/xslaby/build/bu_clang/include/generated",
    "-I/home/xslaby/build/bu_clang/include/generated/uapi",
    "-include", "/home/xslaby/linux/include/linux/kconfig.h",
    "-D__KERNEL__",
    "-DCC_USING_FENTRY",
    "-Wno-unknown-attributes",

    "-include /home/xslaby/linux/include/linux/compiler-version.h",
    "-include /home/xslaby/linux/include/linux/compiler_types.h",
    "--target=x86_64-linux-gnu",
    "-fintegrated-as",
    "-Werror=unknown-warning-option",
    "-Werror=ignored-optimization-argument",
    "-Werror=option-ignored",
    "-Werror=unused-command-line-argument",
    "-fmacro-prefix-map=/home/xslaby/linux/=",
    "-fshort-wchar",
    "-funsigned-char",
    "-fno-common",
    "-fno-PIE",
    "-fno-strict-aliasing",
    "-std=gnu11",
    "-fms-extensions",
    "-Wno-gnu",
    "-Wno-microsoft-anon-tag",
    "-mno-sse",
    "-mno-mmx",
    "-mno-sse2",
    "-mno-3dnow",
    "-mno-avx",
    "-mno-sse4a",
    "-fcf-protection=none",
    "-m64",
    "-falign-loops=1",
    "-Wno-sign-compare",
    "-fno-asynchronous-unwind-tables",
    "-mretpoline-external-thunk",
    "-mindirect-branch-cs-prefix",
    "-mfunction-return=thunk-extern",
    "-fpatchable-function-entry=16,16",
    "-fno-delete-null-pointer-checks",
    "-O2",
    "-fstack-protector-strong",
    "-fno-stack-clash-protection",
    "-pg",
    "-mfentry",
    "-DCC_USING_NOP_MCOUNT",
    "-DCC_USING_FENTRY",
    "-falign-functions=16",
    "-fstrict-flex-arrays=3",
    "-fno-strict-overflow",
    "-fno-stack-check",
    "-fno-builtin-wcslen",
    "-Wall",
    "-Wextra",
    "-Wundef",
    "-Werror=implicit-function-declaration",
    "-Werror=implicit-int",
    "-Werror=return-type",
    "-Werror=strict-prototypes",
    "-Wno-format-security",
    "-Wno-trigraphs",
    "-Wno-frame-address",
    "-Wno-address-of-packed-member",
    "-Wmissing-declarations",
    "-Wmissing-prototypes",
    "-Wframe-larger-than=2048",
    "-Wno-format-overflow-non-kprintf",
    "-Wno-format-truncation-non-kprintf",
    "-Wno-default-const-init-unsafe",
    "-Wno-type-limits",
    "-Wno-pointer-sign",
    "-Wcast-function-type",
    "-Wno-unterminated-string-initialization",
    "-Wimplicit-fallthrough",
    "-Werror=date-time",
    "-Werror=incompatible-pointer-types",
    "-Wenum-conversion",
    "-Wunused",
    "-Wno-unused-but-set-variable",
    "-Wno-unused-const-variable",
    "-Wno-format-overflow",
    "-Wno-override-init",
    "-Wno-pointer-to-enum-cast",
    "-Wno-tautological-constant-out-of-range-compare",
    "-Wno-unaligned-access",
    "-Wno-enum-compare-conditional",
    "-Wno-missing-field-initializers",
    "-Wno-shift-negative-value",
    "-Wno-enum-enum-conversion",
    "-Wno-sign-compare",
    "-Wno-unused-parameter",
    "-I/home/xslaby/linux/kernel",
    "-Ikernel",
    "-DKBUILD_MODFILE=\"some_file\"",
    "-DKBUILD_BASENAME=\"xxx\"",
    "-DKBUILD_MODNAME=\"xxx\"",
    "-D__KBUILD_MODNAME=xxx"
  ]
Compiler: clang

---
If:
  PathMatch: .*\.h
CompileFlags:
  Add: [ "-xc" ]
